.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: antiquewhite;
  border-radius: 1rem;
  width: 30%;
}
.title {
  font-weight: bold;
}
.function {
  color: cornflowerblue;
  font-size: 1.1rem;
}
.otherInfo {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.5);
}
